{%  extends "layout.html" %}

 {%  block title %}Calculator{%  endblock %}

    {%  block content %}

    <form method="post" action="/buttons">

<!--
        <input type="submit" name="zero" value="0">
        <input type="submit" name="one" value="1">
        <input type="submit" name="two" value="2">
        <input type="submit" name="three" value="3">
        <input type="submit" name="four" value="4">
        <input type="submit" name="five" value="5">
        <input type="submit" name="six" value="6">
        <input type="submit" name="seven" value="7">
        <input type="submit" name="eight" value="8">
        <input type="submit" name="nine" value="9">
        <input type="submit" name="equal" value="=">
        <input type="submit" name="addition" value="+">
        <input type="submit" name="subtraction" value="-">
        <input type="submit" name="multiplication" value="*"> 
        <input type="submit" name="division" value="/">
-->
<!--
        <input type="submit" name="value0" value="0">
        <input type="submit" name="value0" value="1">
        <input type="submit" name="value0" value="2">
        <input type="submit" name="value0" value="3">
        <input type="submit" name="value0" value="4">
        <input type="submit" name="value0" value="5">
        <input type="submit" name="value0" value="6">
        <input type="submit" name="value0" value="7">
        <input type="submit" name="value0" value="8">
        <input type="submit" name="value0" value="9">
        <input type="submit" name="value0" value="=">
        <input type="submit" name="value0" value="+">
        <input type="submit" name="value0" value="-">
        <input type="submit" name="value0" value="*"> 
        <input type="submit" name="value0" value="/">
-->
        <input type="button" value="0" onclick=value=value + 1>
<!--
        <input type="submit" name="value1" value="0">
        <input type="submit" name="value1" value="1">
        <input type="submit" name="value1" value="2">
        <input type="submit" name="value1" value="3">
        <input type="submit" name="value1" value="4">
        <input type="submit" name="value1" value="5">
        <input type="submit" name="value1" value="6">
        <input type="submit" name="value1" value="7">
        <input type="submit" name="value1" value="8">
        <input type="submit" name="value1" value="9">
        <input type="submit" name="value1" value="=">
        <input type="submit" name="value1" value="+">
        <input type="submit" name="value1" value="-">
        <input type="submit" name="value1" value="*"> 
        <input type="submit" name="value1" value="/">

-->   
    </form>

 {%  endblock %}
