{%  extends "layout.html" %}

 {%  block title %}Calculator{%  endblock %}

    {%  block content %}

      <p> temp : {{ temp }} operation : {{operation}} result : {{result}}
    <form action="/">
        <!-- <input type="text" name="telnum" value="123456" readonly="readonly" /> -->

        <input type="submit" name="value00" value="0" >
        <input type="submit" name="value01" value="1" >
        <input type="submit" name="value02" value="2" >
        <input type="submit" name="value03" value="3" ><br>
        <input type="submit" name="value04" value="4" >
        <input type="submit" name="value05" value="5" >
        <input type="submit" name="value06" value="6" >
        <input type="submit" name="value07" value="7" ><br>
        <input type="submit" name="value08" value="8" >
        <input type="submit" name="value09" value="9" >
        <input type="submit" name="equals" value="=" >
        <input type="submit" name="addition" value="+" ><br>
        <input type="submit" name="subtraction" value="-" >
        <input type="submit" name="multiplication" value="*" >
        <input type="submit" name="division" value="/" >
        <input type="submit" name="clear" value="C" >
        <input type="submit" name="decimal" value="." >
        <input type="submit" name="negative" value="-" >


      </form>

 {%  endblock %}
