{%  extends "layout.html" %}

{%  block title %}Calculator{%  endblock %}
<!-- {% block head %} .button1 {
    background-color: rgb({{oRed}}, {{oGreen}}, {{oBlue}})
} {% endblock %} -->
{%  block content %}
<div style="padding:0px 10px">
    <fieldset>
        <form action=/calcpage>
            <table class="tg"  style="background-color:rgb{{secondcColor}}">
                <tr >
                  <th class="tg-0lax" colspan="3"><p style="color: rgb{{originalColor}}  ">{{temp}} {{operation}} {{result}}</p></th>
                  <th class="tg-0lax"><button name="addition" style="width:25%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" value=+>+</button><button name="negative" style="width:25%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" value=(-)>(-)</button></th>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value07" value="7"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value08"  value="8"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value09"  value="9"></td>
                  <td class="tg-0lax" style="width:50%"><input type="submit" style="width:50%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="subtraction"  value="-"></td><br>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}};color:rgb{{originalColor}}" name="value04"  value="4"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value05"  value="5"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value06"  value="6"></td>
                  <td class="tg-0lax" style="width:50%"><input type="submit" style="width:50%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="multiplication"  value="*"><br></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value01"  value="1"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value02"  value="2"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value03"  value="3"></td>
                  <td class="tg-0lax" style="width:50%"><input type="submit" style="width:50%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="division"  value="/"></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="clear"  value=C>C</button></td>
                  <td class="tg-0lax"><button style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="value00"  value=0>0</button></td>
                  <td class="tg-0lax"><button style="width:100%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="decimal"  value=.>.</button></td>
                  <td class="tg-0lax" style="width:50%"><button style="width:50%;background-color:rgb{{firstcColor}};color:rgb{{originalColor}}" name="equals"  value=/=>=</button></td>
                </tr>
              </table>
        </form>
    </fieldset>
</div>

{% endblock %}
