{%  extends "layout.html" %}

{%  block title %}Calculator{%  endblock %}

{%  block content %}

<div style="padding:0px 10px">
    <fieldset>
        <form action=/calcpage>
            <table class="tg">
                <tr>
                  <th class="tg-0lax" colspan="3">{{temp}} {{operation}} {{result}}</th>
                  <th class="tg-0lax"><button value=+>+</button></th>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%" name="value07" value=7>7</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value08"  value=8>8</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value09"  value=9>9</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="subtraction"  value=->-</button><br></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%" name="value04"  value=4>4</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value05"  value=5>5</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value06"  value=6>6</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="multiplication"  value=*>*</button><br></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%" name="value01"  value=1>1</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value02"  value=2>2</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value03"  value=3>3</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="division"  value=//>/</button></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%" name="clear"  value=C>C</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value00"  value=0>0</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="decimal"  value=.>.</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value07"  value=/=>=</button></td>
                </tr>
              </table>
        </form>
    </fieldset>
</div>

{% endblock %}