{%  extends "layout.html" %}

{%  block title %}Calculator{%  endblock %}
{% block head %} .button1 {
    background-color: rgb({{oRed}}, {{oGreen}}, {{oBlue}})
} {% endblock %}
{%  block content %}

<div style="padding:0px 10px">
    <fieldset>
        <form action=/calcpage>
          <p> {{oRed}} {{oGreen}} {{oBlue}} </p>
            <table class="tg">
                <tr>
                  <th class="tg-0lax" colspan="3"><p>{{temp}} {{operation}} {{result}}</p></th>
                  <th class="tg-0lax"><button name="addition" style="width:25%" value=+>+</button><button name="negative" style="width:25%" value=(-)>(-)</button></th>
                  <th class="tg-0lax"></th>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" class="button1" style="width:100%" name="value07" value="7"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%;background-color:rgb{{originalColor}}" name="value08"  value="8"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value09"  value="9"></td>
                  <td class="tg-0lax"><input type="submit" style="width:50%" name="subtraction"  value="-"><br></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value04"  value="4"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value05"  value="5"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value06"  value="6"></td>
                  <td class="tg-0lax"><input type="submit" style="width:50%" name="multiplication"  value="*"><br></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value01"  value="1"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value02"  value="2"></td>
                  <td class="tg-0lax"><input type="submit" style="width:100%" name="value03"  value="3"></td>
                  <td class="tg-0lax"><input type="submit" style="width:50%" name="division"  value="/"></td>
                </tr>
                <tr>
                  <td class="tg-0lax"><button style="width:100%" name="clear"  value=C>C</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="value00"  value=0>0</button></td>
                  <td class="tg-0lax"><button style="width:100%" name="decimal"  value=.>.</button></td>
                  <td class="tg-0lax"><button style="width:50%" name="equals"  value=/=>=</button></td>
                </tr>
              </table>
        </form>
    </fieldset>
</div>

{% endblock %}
