{%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
  <h1>Results</h1>
  <div> 

    <table>
        <tr>
          <th>Complements: </th>
          <th><img src="./static/original.jpg" title='{{ inColor }}'></th>
          <th><img src="./static/complementary.jpg" title='{{ compColor }}'></th>
        </tr>
        <tr>
          <th></th>
          <th>{{ inColor }}</th>
          <th>{{ compColor }}</th>
        </tr>
    </table> 
            
  </div>
 {%  endblock %}
