{%  extends "layout.html" %}

{%  block title %}Color Picker{%  endblock %}

{%  block content %}
<div style="padding:5px 25px">
    <p>Enter a color and click "submit" to find complements</p>
    <fieldset>
        <form action="/colorresult">
            <input type="color" id="inColor" name="inColor"
                value="#FFFFFF" />
            <label for="head">Pick your color!</label>
            <br>
            <input type="submit" value="Submit">
        </form>
    </fieldset>
    <br>
</div>

<div>
    <h3>Previous Entries: </h3>
    <fieldset>
        <form action="/colorresult">
            {{ session['historyList'] }}
            {% for entry in session['historyList'][:-5] %}
              <button type="submit" id="inColor" name="inColor" value="{{ entry }}">
              <br>
            {% endfor %}
        </form>
    </fieldset>
</div>

{% endblock %}
